@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.location-container {
  width: 50%;
  border:1px solid red;
  margin: 10rem auto;
  height: 550px;
  
}

#share-location{
margin-left: 135px;
    margin-top: -85px;
font-weight: bold;
}
.slide img {
    padding-top: 100px;
    width: 20rem;
  margin: 0 auto;
  padding-bottom: 50px;
border:1px solid greenyellow
}

.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.5;
border:1px solid pink
}
.slide h1{
    font-size: 10px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
}
.activeSlide {
  transform: scale(1.5);
  opacity: 1;
  border:1px solid blueviolet;
  height: 510px;
  margin-top: 40px;
}

.activeSlide h1{
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    text-align: center;

}
.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  margin-top: -80px;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
