.footer-container-main-div {
    background-color: #ff7e46;
    width: 100%;
background-image: url("../../../public/happy-background.png");
    /* background-color : rgb(253, 83, 22); */
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 2vh;
    color: white;
    gap: 20px;
    background: linear-gradient(0.25turn, #fdb777, #FE611D);
    
}

#icon-hover {
    text-decoration: none;
    color: white;
}
#icon-hover :hover{
    color:black;

}

.footer-container {
    display: flex;
    /* background-image: url("../../../public/footermain.png"); */
    /* background-color: #ff7e46; */

    /* background-color : rgb(253, 83, 22); */
  
    padding-top: 10px;
    color: white;
    gap: 20px;
}

.footer-left-part {
    width: 61%;
}

.footer-right-part {
    margin-top: 12vh;
    width: 40%;
}

.footer-heading {
    font-weight: 600;
    font-size: 2vw;
    margin-bottom: 2vh;
}

.footer-boba-info {

    width: 55%;

    left: 70px;
    /* top: 5254px; */

    font-weight: 550;
    font-size: 14px;
    word-spacing: 6px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.copy-right-reclame {
    width: 60%;
    margin-top: 25px;

    font-style: normal;
    font-weight: 550;
    font-size: 13px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);

}

.footer-social-media {
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    gap: 15px;

    color: white;
    width: 30%;
    font-size: 25px;
}

.footer-boba-timing {
    text-align: end;

    font-style: normal;
    font-weight: 550;
    font-size: 1vw;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    margin-top: 15px;
}

.footer-copyright {

    text-align: end;
    font-style: normal;
    font-weight: 550;
    font-size: 1vw;

    color: rgba(255, 255, 255, 0.7);

}

.footer-category {
    display: flex;
    justify-content: space-evenly;

}

.resources {
    font-size: 15px;
    line-height: 2.2;

}

.company {
    font-size: 15px;
    line-height: 2.2;

}

.category-footer-heading {

    margin-bottom: 10px;
    font-weight: 580;
}

.company-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);

}

.company-link:hover {
    color: black
}

/* .company-link :hover{
    color:orange
} */


@media all and (min-width:301px) and (max-width: 640px) {
    .footer-container-main-div {
        background-color: #ff7e46;
        width: 100%;
        /* background-color : rgb(253, 83, 22); */
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 2vh;
        color: white;
        gap: 20px;
    }


    .footer-heading {
        font-weight: 600;
        font-size: 3vw;
        margin-bottom: 1.8vh;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;

        /* background-color : rgb(253, 83, 22); */
        padding-top: 3vh;
        color: white;
        gap: 10px;
    }

    .footer-left-part {
        padding-bottom: 1px;
        width: 100%;
    }

    .footer-boba-info {

        width: 70vw;


        /* top: 5254px; */
        line-height: 1.5em;
        font-weight: 580;
        font-size: 3vw;
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-social-media {
        margin-top: 3vh;
        margin-bottom: 0vh;
        display: flex;
        gap: 15px;

        color: white;
        width: 30%;
        font-size: 6vw;
    }



    .footer-right-part {
        width: 100%;

margin-top: -1px;    
}

    .copy-right-reclame {
        width: 100%;
        margin-top: 2vh;
        font-weight: 550;
        font-size: 2.5vw;
        color: rgba(255, 255, 255, 0.7);

    }

    .category-footer-heading {
        font-weight: bold;
        margin-bottom: 8px;
        font-weight: 580;
    }

    .footer-category {
        display: flex;
        justify-content: space-evenly;
    }

    .resources {
        font-size: 3vw;
        line-height: 1.8;
    }

    .company {
        font-size: 3vw;
        line-height: 1.8;
    }

    .footer-boba-timing {
        text-align: end;

        font-style: normal;
        font-weight: 550;
        font-size: 3vw;
        line-height: 1.5ev;

        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 10px;
        margin-top: 2px;
    }

    .footer-copyright {

        text-align: end;
        font-style: normal;
        font-weight: 550;
        font-size: 3vw;

        color: rgba(255, 255, 255, 0.7);

    }
}


@media all and (min-width:100px) and (max-width: 300px) {
    .footer-heading {
        font-weight: 600;
        font-size: 3.5vw;
        padding-bottom: 1vh;

    }


    .footer-container {
        display: flex;
        flex-wrap: wrap;

        /* background-color : rgb(253, 83, 22); */
        padding: .5vh;
        color: white;
        gap: 5px;

    }

    .footer-left-part {

        width: 100%;
    }



    .footer-boba-info {

        width: 90%;

        left: 70px;
        /* top: 5254px; */

        font-weight: 550;
        font-size: 3.5vw;
        word-spacing: 3px;
        line-height: 1.5em;
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-social-media {
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
        justify-content: space-between;

        color: white;
        width: 80%;
        font-size: 25px;
    }

    .footer-right-part {
        margin-top: 5px;
        width: 90%;
    }

    .copy-right-reclame {
        width: 100%;
        margin-top: 25px;
        
        font-style: normal;
        font-weight: 550;
        font-size: 2vw;
        line-height: 1.5em;

        color: rgba(255, 255, 255, 0.7);

    }


    .resources {
        font-size: 3.5vw;
        line-height: 1.5;

    }

    .company {
        font-size: 3.5vw;
        line-height: 1.5;

    }

    .category-footer-heading {

        margin-bottom: 1vh;
        font-weight: 580;
    }

    .footer-boba-timing {
        text-align: end;

        font-style: normal;
        font-weight: 550;
        font-size: 3.5vw;
        line-height: 20px;

        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 10px;
        margin-top: 5px;
    }

    
    .footer-copyright {

        text-align: end;
        font-style: normal;
        font-weight: 550;
        font-size: 3.5vw;

        color: rgba(255, 255, 255, 0.7);

    }
}


@media all and (min-width:641px) and (max-width:1240px) {
    .footer-heading {
        font-weight: 650;
        font-size: 2.4vw;
        width: 50vw;

    }

    .footer-container {
        display: flex;


        /* background-color : rgb(253, 83, 22); */
        padding: 3vh;
        color: white;
        gap: 20px;

    }

    .footer-left-part {

        width: 100%;
    }

    .footer-boba-info {

        width: 40vw;


        /* top: 5254px; */

        font-weight: 550;
        font-size: 2vw;

        line-height: 1.5em;
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-right-part {
        margin-top: 5vh;
        width: 100%;
    }

    .copy-right-reclame {
        width: 100%;
        font-style: normal;
        font-weight: 550;
        font-size: 2vw;
        line-height: 1.5em;
        color: rgba(255, 255, 255, 0.7);

    }

    .category-footer-heading {
        font-weight: bold;
        margin-bottom: 8px;
        font-weight: 580;
    }

    .footer-category {
        display: flex;
        justify-content: space-evenly;

    }

    .resources {
        font-size: 2vw;
        line-height: 2;

    }

    .company {
        font-size: 2vw;
        line-height: 2;

    }

    .footer-boba-timing {
        text-align: end;

        font-style: normal;
        font-weight: 550;
        font-size: 2vw;
        line-height: 1.5em;

        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 2vh;
        margin-top: 1vh;
    }

    .footer-copyright {

        text-align: end;
        font-style: normal;
        font-weight: 550;
        font-size: 2vw;

        color: rgba(255, 255, 255, 0.7);
    }

    .footer-social-media {
        margin-top: 4vh;
        margin-bottom: 1vh;
        display: flex;
        gap: 15px;
        color: white;
        width: 30%;
        font-size: 25px;
    }
}



@media all and (min-width:1435px) and (max-width:3000px) {

    .footer-container-main-div {
        background-color: #ff7e46;
        width: 100%;
        /* background-color : rgb(253, 83, 22); */
        border: 1px sold blue;

        padding-left: 25px;
        padding-right: 1.5vh;
        padding-bottom: 1.5vh;
        color: white;
        gap: 20px;

    }


    .footer-container {
        /* display: flex; */
        /* background-image: url("../../../public/footermain.png"); */
        /* background-color: #ff7e46; */

        /* background-color : rgb(253, 83, 22); */
        /* padding-left: 25px; */
        /* padding-right: 25px; */
        /* padding-top: 10px; */
        /* color:white; */
        /* gap:20px;  */
    }


    .footer-heading {
        font-weight: 650;
        font-size: 1.5vw;
        width: 50vw;

    }

    .footer-container {
        display: flex;


        /* background-color : rgb(253, 83, 22); */

        color: white;
        gap: 20px;

    }

    .footer-left-part {
        width: 35vw;

    }

    .footer-boba-info {

        width: 30vw;


        /* top: 5254px; */

        font-weight: 550;
        font-size: 1vw;
        line-height: 1.5em;
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-right-part {
        margin-top: 6.5vh;
        width: 50vw;

    }

    .copy-right-reclame {
        width: 100%;
        font-style: normal;
        font-weight: 550;
        font-size: 1vw;
        line-height: 1.5em;
        color: rgba(255, 255, 255, 0.7);
    
    }

    .category-footer-heading {
        font-weight: bold;
        margin-bottom: 8px;
        font-weight: 580;
    }

    .footer-category {
        display: flex;
        justify-content: space-evenly;

    }

    .resources {
        font-size: 1vw;
        line-height: 1.5;

    }

    .company {
        font-size: 1vw;
        line-height: 1.5;

    }

    .footer-boba-timing {
        text-align: end;

        font-style: normal;
        font-weight: 550;
        font-size: 1vw;
        line-height: 1.5em;

        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 2vh;
        margin-top: 1vh;
    }

    .footer-copyright {
        text-align: end;
        font-style: normal;
        font-weight: 550;
        font-size: 1vw;

        color: rgba(255, 255, 255, 0.7);
    }

    .footer-social-media {
        margin-top: 4vh;
        margin-bottom: 1vh;
        display: flex;
        gap: 2vw;
        color: white;
        width: 30%;
        font-size: 2vw;
    }
}