.about-part-1-container{
width: 100%;
display: flex;
justify-content: space-between;
gap:4vw;

}

.about-boy-img{

    
    width: 40vw;
   margin-right: 1vw;
}
.about-boy-img img{
max-width: 50vw;
}
.aboutheadingimg-div{
border-bottom: 1px solid black;
max-width: 22vw;

}
.aboutheadingimg-div img {
    max-width: 22vw;
}
.about-intro-div{
margin: 1px;
    /* border:1px solid red; */
    margin-top: 3vh;
    width: 45vw;
    font-weight: bold;
    padding-right: 1vh;
}

.about-top-info{
    margin-top: 4vh;
    border-bottom: 1px solid black;
    padding-bottom: 4vh;
    font-size: 1.4vw;
}

.about-user-info{
    margin-top: 3vh;
    display: flex;
    gap:10%;
}

.about-user-info h1{
    color:#fe611d;
    
}
.about-user-number{
    font-size: 5vw;
     color:#fe611d;
}
.about-user-number-text{
    font-size: 1.3vw;

}
.chock-2-boba-img{
    
    height: 8vh;
    
    align-items: end;
    padding-left:23vw;
    margin-top: -2.5vh;
}

.chock-2-boba-img img{
    min-height: 4vh;
    max-width: 26vw;
padding-left: 7vw;    
}

.about-features-heading-button{
    display: flex;
    justify-content: space-between;
}

.about-part-2-heading{
    font-size: 1.6vw;
    width: 65%;
    
}

.about-btn{
font-size: 2vw;

    padding: 2vw;
    max-width: 30vw;
}
.about-features-section{
    display:flex;
justify-content: space-around;
    margin-top: 5vh;
}
.about-features-section-single-div{
width: 20%;
    
}

.about-icon-heading{
    font-weight: 600;
    font-size: 1.5vw;
}
.about-icon-div{

 
    margin-top: 1.8vh;
    width: 20%;
    size:5vw
    /* margin: auto; */
}

.about-part-2-button{
    /*  */
  
    width: 20vw;
    margin-top: 7vh;
    

}

.about-us-container-part-2{

padding: 10px;
padding-top: 40px;
}
.about-part-2-button button{
    border:1px solid black;
    /* padding: 3vw;
padding: 3vw;
height: 20px;
border-radius: 30px;
    font-weight: bold;
    font-size: 2.5vw; */
    /* margin-top: 20px; */
    width: 15vw;
    font-weight: 600;
    font-size: 2vw;
    border-radius: 10vw;
    background-color: rgb(230, 224, 224);
}
.about-button-text{
    color :red;
font-size: 3vw;

font-weight: bold;
}
.about-icon-text{
    font-size: 1.1vw;
}

@media all and (min-width:1400px) and (max-width:2500px){

 
    .about-part-1-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap:3vw;
        
        }
        
        .about-boy-img{
        
            
            width: 35vw;
           margin-right: .5vw;
        }
        .about-boy-img img{
        max-width: 30vw;
        }
        .aboutheadingimg-div{
        border-bottom: 1px solid black;
        max-width: 20vw;
        
        }
        .aboutheadingimg-div img {
            max-width: 20vw;
        }
        .about-intro-div{
        margin: 1px;
            /* border:1px solid red; */
            margin-top: 3vh;
            width: 32vw;
            font-weight: bold;
            padding-right: 1vh;
        }
        
        .about-top-info{
            margin-top: 4vh;
            border-bottom: 1px solid black;
            padding-bottom: 4vh;
            font-size: 1.2vw;
        }
        
        .about-user-info{
            margin-top: 2vh;
            display: flex;
            gap:10%;
        }
        
        .about-user-info h1{
            color:#fe611d;
            
        }
        .about-user-number{
            font-size: 4vw;
             color:#fe611d;
        }
        .about-user-number-text{
            font-size: 1.1vw;
        
        }
        .chock-2-boba-img{
            
            height: 8vh;
            
            align-items: end;
            padding-left:23vw;
            margin-top: -2.5vh;
        }
        
        .chock-2-boba-img img{
            min-height: 4vh;
            max-width: 26vw;
        padding-left: 7vw;    
        }
        
        .about-features-heading-button{
            display: flex;
            justify-content: space-between;
        }
        
        .about-part-2-heading{
            font-size: 1.6vw;
            width: 65%;
            
        }
        
        .about-btn{
        font-size: 2vw;
        
            padding: 2vw;
            max-width: 30vw;
        }
        .about-features-section{
            display:flex;
        justify-content: space-around;
            margin-top: 5vh;
        }
        .about-features-section-single-div{
        width: 20%;
            
        }
        
        .about-icon-heading{
            font-weight: 600;
            font-size: 1.5vw;
        }
        .about-icon-div{
        
         
            margin-top: 1.8vh;
            width: 20%;
            size:5vw
            /* margin: auto; */
        }
        
        .about-part-2-button{
            /*  */
          
            width: 20vw;
            margin-top: 7vh;
            
        
        }
        
        .about-us-container-part-2{
        
        padding: 10px;
        padding-top: 40px;
        }
        .about-part-2-button button{
            border:1px solid black;
            /* padding: 3vw;
        padding: 3vw;
        height: 20px;
        border-radius: 30px;
            font-weight: bold;
            font-size: 2.5vw; */
            /* margin-top: 20px; */
            width: 15vw;
            font-weight: 600;
            font-size: 2vw;
            border-radius: 10vw;
            background-color: rgb(230, 224, 224);
        }
        .about-button-text{
            color :red;
        font-size: 3vw;
        
        font-weight: bold;
        }
        .about-icon-text{
            font-size: 1.1vw;
        }
        

}